{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
</head>
<body>
    <!-- view_profile.html -->
    <h2>{{ user.username }}</h2>
    <p>{{ user_profile.bio }}</p>
    <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture">
    
    {% if user != user_profile.user %}
     <form method="post" action="{% url 'user_profile:view_profile' %}">
        {% csrf_token %}
        {{ follow_form.as_p }}
        <button type="submit">
            {% if user_profile.user in user.followers.all %}
                Unfollow
            {% else %}
                Follow
            {% endif %}
        </button>
     </form>
    {% endif %}


    <a href="{% url 'user_profile:edit_profile' %}"> Edit Profile </a>

</body>
</html>